{
    admin off
    persist_config off
    auto_https off
}

:{$PORT:8080} {
    @health path /health
    respond @health 200

    @home path /
    rewrite @home /v2.html

    root * /app
    encode gzip
    file_server
}
